body {
    margin: 0 auto;
    width: auto;
}

.container{
    margin: 0 auto;
    padding: 20px 40px 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container h1, a{
    font-size: 25px;
    color: black;
}

a{
    color: #2B2B5C;
}



